<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Register new doctor</title>
	</head>
	<body>
	<form action="#" th:action="@{/createdoctor}" th:object="${doctor}" method="post">
			<label for="name">Full name</label>
		    <input type="text" th:field="*{fullName}" id="fullName" placeholder="Full name">
		    
		    <label for="description">Description of health</label>
		    <input type="number" th:field="*{roomNum}" id="roomNum" placeholder="Room number">
	    
			<input type="submit" value="Register new Doctor"> 
		</form>
	</body>
</html>